<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="bootstrap.min.css">
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script src="bootstrap.min.js"></script>
	<meta charset="UTF-8">
	<title>Contacts</title>
</head>
<body>
	<img src="phone.jpg" id="bg"><!-- Задний фон сайта -->	
	<div class="container" id="navs">
		<div class="row">
			<ul class="nav nav-pills nav-justified" >
		  		<li class="active">
		    		<a href="/home" class="icon-home">Домой</a>
		  		</li>
		  		<li>
		  			<a href="/list" class="icon-list">Список процессоров</a>
		  		</li>
		 		<li>
		 			<a href="/contact" class="icon-user">Контакты</a>
		 		</li>
			</ul>
		</div>
	</div>
</body>
</html>