<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="bootstrap.min.css">
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script src="bootstrap.min.js"></script>
	<meta charset="UTF-8">
	<title>Museum of processors</title>
</head>
<body>
	<img src="phone.jpg" id="bg"><!-- Задний фон сайта -->	
	<div class="container" id="navs">
		<div class="row">
			<ul class="nav nav-pills nav-justified" >
		  		<li class="active">
		  			<a href="/home">Домой</a>
		  		</li>
		  		<li>
		  			<a href="/list">Список процессоров</a>
		  		</li>
		 		<li>
		 			<a href="/contact">Контакты</a>
		 		</li>
			</ul>
		</div>
	</div>
	<div class="container" id="home">
		<h1>Добро пожаловать в музей процессоров!</h1>
		<p>Данный сайт это частная коллекция процессоров. Здесь представлены процессоры, которые устанавливались в IBM-совместимых компьютерах: как в серверах, так и в обычных ПК.
		Если у вас есть экспонаты для нашего музея, напишите нам. Мы с удовольствием обменяем или примем в дар старые процессоры.</p>
	</div>
</body>
</html>