<!DOCTYPE html>
<html>
 <head>
   <title>CRM система IMT</title>
   <link rel="stylesheet" href="/css/bootstrap.min.css">
   <link rel="stylesheet" href="style.css">
   <meta charset="utf-8">
 </head>
 <body>
 <div class="container">
 	<div class="page-header">
 		<h3><%= title %></h3>
 	</div>
 	<img src="img/company_logo.jpg" class="lemur" onClick="window.location.href = '/customers';">
 